extends _layout

mixin thumbnail (imageName, caption, year, capacity, hp, engine)
    div.imageBlockTwo
        a(href='/img/#{imageName}.jpg' data-fancybox="" data-caption= caption)
            img(src="/img/#{imageName}.jpg")
        div.info
            h4.image-caption= caption
            p.year= year
            p.capacity= capacity
            p.hp= hp
            p.engine= engine

block content
    main
        div.container
            h1 Страница о нас Loop
            - var x = 8;
            div.thumbnail--container
                - for (var i = 1; i <= x; i++)
                    +thumbnail("Corolla-122", "Toyota Corolla ZZE-122", "Year: 2004", "Engine Capacity: 1.8", "Horse Power: 132", "Engine: 1ZZ-FE")