extends _layout

mixin thumbnail (imageName, caption, year, capacity, hp, engine)
    div.imageBlockTwo
        a(href='/img/#{imageName}.jpg' data-fancybox="" data-caption= caption)
            img(src="/img/#{imageName}.jpg")
        div.info
            h4.image-caption= caption
            p.year= year
            p.capacity= capacity
            p.hp= hp
            p.engine= engine

block content
    main
        div.container
            h1 Крутой сайт на Gulp
            div.imageBlock
                img(src="/img/background.jpg" alt="img")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            div.thumbnail--container
                +thumbnail("Corolla-122", "Toyota Corolla ZZE-122", "Year: 2004", "Engine Capacity: 1.8", "Horse Power: 132", "Engine: 1ZZ-FE")
                +thumbnail("Mark-X-2010", "Toyota Mark X (X130)", "Year: 2010", "Engine Capacity: 2.5", "Horse Power: 203", "Engine: 4GR-FSE")
                +thumbnail("Mark-X-2017", "Toyota Mark X (X130)", "Year: 2017", "Engine Capacity: 2.5", "Horse Power: 203", "Engine: 4GR-FSE")
                +thumbnail("Crown-2017", "Toyota Crown (S210)", "Year: 2015", "Engine Capacity: 2.0", "Horse Power: 235", "Engine: 8AR-FTS")
                +thumbnail("Vellfire", "Toyota Vellfire (H30)", "Year: 2015", "Engine Capacity: 2.5", "Horse Power: 152", "Engine: 2AR-FXE")
                +thumbnail("RX-450", "Lexus RX450 (AL20)", "Year: 2015", "Engine Capacity: 3.5", "Horse Power: 263", "Engine: 2GR-FXE")
                +thumbnail("IS-250", "Lexus IS250 (XE30)", "Year: 2013", "Engine Capacity: 2.5", "Horse Power: 208", "Engine: 4GR-FSE")
                +thumbnail("LX-570", "Lexus LX570 (J200)", "Year: 2015", "Engine Capacity: 5.7", "Horse Power: 367", "Engine: 3UR-FE")
            button(type="button" id="print" class="print-btn") Print