mixin card (changeImage)
    div.t-newsCardWrapper.t-scrollBar
        div.t-newsCatNameAndDateHolder
            span.t-newsDate 14 января
            span.t-newsCategory Категория
        div.t-newsCard
            div.t-newsParams.duplicate
                ul
                    li 475
                    li 987
                    li 340K
                    li 2M
            div.t-newsCardImg
                img(src=""+ changeImage +"")
            div.t-newsCardInfoHolder
                div.t-newsContent
                    div.t-newsContentBody
                        div.t-newsParams
                            ul
                                li 475
                                li 987
                                li 340K
                                li 2M
                        h1.t-newsTitle Заголовок статьи например, не в одну, а в три строки
                        div.t-newsAuthorHolder
                            div.t-newsAuthorImg
                                img(src="images/photos/quavo.jpg")
                            div.t-newsAuthorName
                                span.t-newsFirstName Quavo
                                span.t-newsLastName Marshall
                                span.t-newsProfession Бизнесмен
                        h2.t-newsCategory Экспертное мнение
                        ul.t-newsTags
                            li Дизайн,
                            li маркетинг,
                            li бизнес,
                            li CEO,
                            li программирование
                        span.t-newsDate 14 января
                        div.t-newsContentShare
                            span Ico
                            span Ico


mixin authorCard(changeImg, name, profession, count, likes)
    div.t-authorCardWrapper.t-scrollBar
        a(href="#").t-authorCardLink
            div.t-authorImgHolder
                img(src=""+ changeImg +"")
            div.t-authorInfo
                h1.t-authorName= name
                span.t-authorProfession= profession
                div.t-authorArticlesCountWrapper
                    span.t-name Статей
                    span.t-authorArticlesCount= count
                ul.t-authorTags
                    li Дизайн,
                    li бизнес,
                div.t-authorLikesHolder
                    span ico
                    span.t-authorLikesCount= likes

mixin topCard(pageName, listOne, listTwo, listThird, listFour, listFive, listSix)
    div.t-mainTopContentInside
        div.t-leftAndMidContentContainer
            div.t-nameAndSortWrapper
                span.t-namePage= pageName
                div.t-topSortWrapper
                    span.t-topSortName По дате
                    div.t-dotsHolder
                        span
            div.t-topListCtrlWrapper.t-topMiddleSection
                div.t-sortMenuHolder
                    ul.t-topListCtrl.t-topListSorting
                        li
                            a(href="#").t-topSortLinks.active= listOne
                        li
                            a(href="#").t-topSortLinks= listTwo
                        li
                            a(href="#").t-topSortLinks= listThird
                        li
                            a(href="#").t-topSortLinks= listFour
                        li
                            a(href="#").t-topSortLinks= listFive
                        li
                            a(href="#").t-topSortLinks= listSix
                div.t-dotsHolder.t-callHiddenSortingMenu
                    span
                    ul.t-smallModalMenu.t-sortModalContainer
                        li
                            ul.js-menu-more
                                li

                                li= listTwo
                                li= listThird
                                li= listFour
                                li= listFive
                                li= listSix
                        li Бизнес
                        li Дизайн
                        li Шняга
                        li Еще
                        li Дичь
                        li Дичь2
        ul.t-topListCtrl.t-topRightSection
            li ico
            li ico
            li ico

mixin authorsModal()
    div.t-fixed.t-authorModal
        div.t-authorModalInfoHolder
            div.t-authorModalInfo
                h1.t-authorModalName.t-titleUltraLarge Джон Тривольта
                h2.t-authorModalProfession.t-titleLarge Угонщик
                div.t-authorModalCountWrapper
                    span.t-name Статей
                    span.t-authorArticlesCount 2
                ul.t-authorModalTags
                    li Дизайн,
                    li бизнес,
                div.t-authorModalLikesHolder
                    span ico
                    span.t-authorLikesCount 475
                div.t-authorModalAbout
                    h1.t-authorModalAboutTitle.t-titleBig О себе
                    p.t-authorModalDescription Минкомсвязи отказалось от требования рассчитывать объём хранилищ данных пользователей на основании максимальной ширины канала операторов связи. Это должно снизить затраты операторов, пишет «Коммерсантъ» со ссылкой на копию письма замглавы Минкомсвязи Дмитрия Алхазова в Российский союз промышленников и предпринимателей (РСПП).
                div.t-authorModalAnotherProfiles
                    ul
                        li
                            a(href="#") Facebook
                        li
                            a(href="#") Telegram
                div.t-authorModalArticlesHolderWrapper
                    h1.t-authorModalAboutTitle.t-titleBig Статьи автора
                    div.t-authorArticlesHolder
                        - for(var i = 0; i < 10; i++)
                            + authorArticles()
            div.t-authorModalPhoto
                img(src="images/photos/John.png")
                div.t-simpleBlock
                div.t-modalImgOverlay
                    div.t-modalButtonsHolder.t-hide.t-profileModalButtonsHolder
                        div.t-modalShare
                        div.t-modalBack
                            span Назад

mixin authorArticles()
    div.t-authorModalArticleCard
        a(href="#").t-articleLink
            div.t-authorArticleCardImg
                img(src="/images/png/Frame.png")
            div.t-authorArticleCardInfo
                h3.t-authorArticleCardTitle Заголовок статьи не слишком вмещающийся во  фреймворке
                span.t-authorArticleCardCtegory Экспертное мнение
                span.t-authorArticleCardDate 14 апреля 2218


mixin newsModal()
    div.t-absolute.t-newsModal
        div.t-newsModalInfo
            div.t-newsColorBlock(style="background-color:#57C9FA")
            div.t-newsInsideHolder
                div.t-modalButtonsHolder
                    div.t-modalShare
                    div.t-modalBack
                        span Назад
                div.t-newsModalAuthorHolder
                    div.t-flexHolder
                        div.t-newsModalAuthorImg
                            img(src="images/photos/takeoff.jpg")
                        div.t-newsModalAuthorInfo
                            h1.t-authorName Takeoff
                            span.t-authorProfession Рэпер
                    div.t-newsModalCategory
                        span Экспертное мнение
                    ul.t-authorTags.t-authorTagsModal
                        li Дизайн,
                        li маркетинг,
                        li бизнес,
                        li CEO,
                        li Программирование,
                    span.t-newsModalDate 14 января
                    div.t-newsParams.t-newsModalParams
                        ul
                            li 475
                            li 987
                            li 340K
                            li 2M
                h1.t-newsModalTitle.t-titleUltraMegaLarge.t-transform Заголовок статьи, например не в одну, а в три строки
                div.t-newsModalMainInfo
                    h2.t-newsModalMainInfoTitle.t-titleLarge Заголовок
                    h3.t-newsModalMainInfoMidTitle.t-titleBig Подзаголовок
                    p.t-articleText Минкомсвязи отказалось от требования рассчитывать объём хранилищ данных пользователей на основании максимальной ширины канала операторов связи.
                        | Это должно снизить затраты операторов, пишет «Коммерсантъ» со ссылкой на копию письма замглавы Минкомсвязи Дмитрия Алхазова в Российский союз промышленников и предпринимателей (РСПП).
                    br
                    a(href="#") Ссылка
                    br
                    br
                    span.t-signature Подпись
                    br
                    br
                    p Цитата
                    br
                    br
                div.t-newsModalImage.t-transform
                    img(src="images/png/img.png")
                    p.t-signature Подпись
                div.t-likeBlockWrapper
                    h2.t-likesTitle.t-titleBig Нравится ?
                    div.t-likesContainer
                        button(type="button").t-iLikeItBtn.t-btn Мне нравится
                        div.t-share Share
                div.t-commentBlock
                    h2.t-commentsTitle.t-titleBig Обсуждение
                    div.t-commentsFilter
                        span.t-filterName По популярности
                        div.t-dotsHolder
                            span
                    div.t-commentsContent
                        div.t-commentsItem
                            div.t-commentsiItemMain
                                div.t-commentsAuthorHolder
                                    div.t-commentsAuthor
                                        div.t-commentsAuthorImg
                                            img(src='/images/photos/quavo.jpg')
                                        div.t-commentsAuthorInfo
                                            h3.t-commentsAuthorName Quavious Marshall
                                            div.t-commentsAuthorDateAnditemHolder
                                                span.t-commentsAuthorDate 24.04.17,
                                                span.t-commentsAuthorTime 15:30
                                                div.t-commentsAuthorAnswerTo
                                                    span.t-commentsAuthorAnswerToName Константин
                                    div.t-commentsRating
                                div.t-commentsCommentHolder
                                    p.t-commentOutput Очень люблю материалы этого чувака. Потом мы узнаем, что ему руку ампутировали из-за гангрены, когда он решит сделать себе руки-базуки.
                                div.t-commentAnswer
                                    a(href='#').t-commentsAnswerBtn Ответить
                            div.t-commentsiItemChildren


mixin hiddenLogo()
    div.t-hiddenLogoWrapper
        div.t-burger.t-burgerMob
            span.line
            span.line
            span.line
        a(href="/").t-logoWrapper
            div.t-logo
        div.t-pageNameHolder
            span.t-pageHiddenName

mixin mobileMneu()
    div.t-mobileMenu
        div.t-mobileInsideHolder
            section.t-logoSection
                a(href="/").t-logoWrapper
                    div.t-logo
            div.t-mobileMenuWrapper
                nav
                    ul.t-menuList
                        li.t-menuListItem
                            a(href="/") Всё сразу
                        li.t-menuListItem
                            a(href="#") Статьи
                        li.t-menuListItem
                            a(href="#") Подборки
                        li.t-menuListItem
                            a(href="#") Кейс недели
                        li.t-menuListItem
                            a(href="#") Переводы
                        li.t-menuListItem
                            a(href="#") Блоги компаний
                        li.t-menuListItem
                            a(href="#") Экспертное мнение
                        li.t-menuListItem
                            a(href="#") Туториалы
                        li.t-menuListItem
                            a(href="#") Бэкстейдж
                        li.t-menuListItem
                            a(href="#") Библиотека
                        li.t-menuListItem
                            a(href="#") События
                        li.t-menuListItem
                            a(href="/authors.html") Авторы
                        li.t-menuListItem
                            a(href="#") Информация
                div.t-copyWrapper
                    span &copy; ЖТ 2018
                    br
                    a(href="http://tdsgn.ru/") Создано в Студии Т


doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title ЖТ
        link(rel='stylesheet', href="css/plugins/normalize.css")
        link(rel='stylesheet', href="css/plugins/jquery.scrollbar.css")
        link(rel='stylesheet', href="css/plugins/jInvertScroll.css")
        link(rel='stylesheet', href="css/main.min.css")
    body
        div.t-mainWrapper
            + hiddenLogo()
            block content
            + newsModal()
            + authorsModal()
            + mobileMneu()

        script(src="js/vendor.min.js")
        script(src="js/plugins/jquery.scrollbar.min.js")
        script(src="js/plugins/svg4everybody.min.js")
        script(src="js/main.min.js")