mixin card (changeImage)
    div.t-newsCardWrapper.t-scrollBar
        div.t-newsCatNameAndDateHolder
            span.t-newsDate 14 января
            span.t-newsCategory Категория
        div.t-newsCard
            div.t-newsParams.duplicate
                ul
                    li 475
                    li 987
                    li 340K
                    li 2M
            div.t-newsCardImg
                img(src=""+ changeImage +"")
            div.t-newsCardInfoHolder
                div.t-newsContent
                    div.t-newsContentBody
                        div.t-newsParams
                            ul
                                li 475
                                li 987
                                li 340K
                                li 2M
                        h1.t-newsTitle Заголовок статьи например, не в одну, а в три строки
                        div.t-newsAuthorHolder
                            div.t-newsAuthorImg
                                img(src="images/photos/quavo.jpg")
                            div.t-newsAuthorName
                                span.t-newsFirstName Quavo
                                span.t-newsLastName Marshall
                                span.t-newsProfession Бизнесмен
                        h2.t-newsCategory Экспертное мнение
                        ul.t-newsTags
                            - for(var k = 0; k < 50; k++)
                                li Дизайн,
                                li маркетинг,
                                li бизнес,
                                li CEO,
                                li программирование
                        span.t-newsDate 14 января
                        div.t-newsContentShare
                            span Ico
                            span Ico


mixin authorCard(changeImg, name, profession, count, likes)
    div.t-authorCardWrapper.t-scrollBar
        a(href="#").t-authorCardLink
            div.t-authorImgHolder
                img(src=""+ changeImg +"")
            div.t-authorInfo
                h1.t-authorName= name
                span.t-authorProfession= profession
                div.t-authorArticlesCountWrapper
                    span.t-name Статей
                    span.t-authorArticlesCount= count
                ul.t-authorTags
                    li Дизайн,
                    li бизнес,
                div.t-authorLikesHolder
                    span ico
                    span.t-authorLikesCount= likes

mixin topCard(pageName, listOne, listTwo, listThird, listFour, listFive, listSix)
    div.t-mainTopContentInside
        div.t-nameAndSortWrapper
            span.t-namePage= pageName
            div.t-topSortWrapper
                span.t-topSortName По дате
                span.t-icon Ico
        ul.t-topListCtrl.t-topMiddleSection
            li
                a(href="#").t-topSortLinks.active= listOne
            li
                a(href="#").t-topSortLinks= listTwo
            li
                a(href="#").t-topSortLinks= listThird
            li
                a(href="#").t-topSortLinks= listFour
            li
                a(href="#").t-topSortLinks= listFive
            li
                a(href="#").t-topSortLinks= listSix
            li
                a(href="#").t-topSortLinks ico
        ul.t-topListCtrl.t-topRightSection
            li ico
            li ico
            li ico

mixin authorsModal()
    div.t-fixed.t-authorModal
        div.t-authorModalInfo
            h1.t-authorModalName.t-titleUltraLarge Джон Тривольта
            h2.t-authorModalProfession.t-titleLarge Угонщик
            div.t-authorModalCountWrapper
                span.t-name Статей
                span.t-authorArticlesCount 2
            ul.t-authorModalTags
                li Дизайн,
                li бизнес,
            div.t-authorModalLikesHolder
                span ico
                span.t-authorLikesCount 475
            div.t-authorModalAbout
                h1.t-authorModalAboutTitle.t-titleBig О себе
                p.t-authorModalDescription Минкомсвязи отказалось от требования рассчитывать объём хранилищ данных пользователей на основании максимальной ширины канала операторов связи. Это должно снизить затраты операторов, пишет «Коммерсантъ» со ссылкой на копию письма замглавы Минкомсвязи Дмитрия Алхазова в Российский союз промышленников и предпринимателей (РСПП).
            div.t-authorModalAnotherProfiles
                ul
                    li
                        a(href="#") Facebook
                    li
                        a(href="#") Telegram
            div.t-authorModalArticlesHolderWrapper
                h1.t-authorModalAboutTitle.t-titleBig Статьи автора
                div.t-authorArticlesHolder
                    - for(var i = 0; i < 3; i++)
                        + authorArticles()
        div.t-authorModalPhoto
            img(src="images/photos/John.png")
            div.t-modalImgOverlay
                div.t-modalButtonsHolder.t-hide
                    div.t-modalShare
                    div.t-modalBack
                        span Назад

mixin authorArticles()
    div.t-authorModalArticleCard
        a(href="#").t-articleLink
            div.t-authorArticleCardImg
                img(src="/images/png/Frame.png")
            div.t-authorArticleCardInfo
                h3.t-authorArticleCardTitle Заголовок статьи не слишком вмещающийся во  фреймворке
                span.t-authorArticleCardCtegory Экспертное мнение
                span.t-authorArticleCardDate 14 апреля 2218


mixin newsModal()
    div.t-absolute.t-newsModal
        div.t-newsModalInfo
            div.t-newsColorBlock(style="background-color:#57C9FA")
            div.t-newsInsideHolder
                div.t-modalButtonsHolder
                    div.t-modalShare
                    div.t-modalBack
                        span Назад
                div.t-newsModalAuthorHolder
                    div.t-flexHolder
                        div.t-newsModalAuthorImg
                            img(src="images/photos/takeoff.jpg")
                        div.t-newsModalAuthorInfo
                            h1.t-authorName Takeoff
                            span.t-authorProfession Рэпер
                    div.t-newsModalCategory
                        span Экспертное мнение
                    ul.t-authorTags.t-authorTagsModal
                        li Дизайн,
                        li маркетинг,
                        li бизнес,
                        li CEO,
                        li Программирование,
                    span.t-newsModalDate 14 января
                    div.t-newsParams.t-newsModalParams
                        ul
                            li 475
                            li 987
                            li 340K
                            li 2M
                h1.t-newsModalTitle.t-titleUltraMegaLarge.t-transform Заголовок статьи, например не в одну, а в три строки
                div.t-newsModalMainInfo
                    h2.t-newsModalMainInfoTitle.t-titleLarge Заголовок
                    h3.t-newsModalMainInfoMidTitle.t-titleBig Подзаголовок
                    p.t-articleText Минкомсвязи отказалось от требования рассчитывать объём хранилищ данных пользователей на основании максимальной ширины канала операторов связи.
                        | Это должно снизить затраты операторов, пишет «Коммерсантъ» со ссылкой на копию письма замглавы Минкомсвязи Дмитрия Алхазова в Российский союз промышленников и предпринимателей (РСПП).
                    br
                    a(href="#") Ссылка
                    br
                    br
                    span.t-signature Подпись
                    br
                    br
                    p Цитата
                    br
                    br
                div.t-newsModalImage.t-transform
                    img(src="images/png/img.png")
                    p.t-signature Подпись
                div.t-likeBlockWrapper
                    h2.t-likesTitle.t-titleBig Нравится ?
                    div.t-likesContainer
                        button(type="button").t-iLikeItBtn.t-btn Мне нравится
                        div.t-share Share
                div.t-commentBlock
                    h2.t-commentsTitle.t-titleBig Обсуждение
                    div.t-commentsFilter
                        span.t-filterName По популярности
                        span ico


mixin hiddenLogo()
    div.t-hiddenLogoWrapper
        div.t-burger
            span.line
            span.line
            span.line
        a(href="/").t-logoWrapper
            div.t-logo
        div.t-pageNameHolder
            span.t-pageHiddenName

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title ЖТ
        link(rel='stylesheet', href="css/plugins/normalize.css")
        link(rel='stylesheet', href="css/plugins/jquery.scrollbar.css")
        link(rel='stylesheet', href="css/plugins/jInvertScroll.css")
        link(rel='stylesheet', href="css/main.min.css")
    body
        div.t-mainWrapper
            + hiddenLogo()
            block content
            + newsModal()
            + authorsModal()

        script(src="js/vendor.min.js")
        script(src="js/plugins/jquery.scrollbar.min.js")
        script(src="js/plugins/svg4everybody.min.js")
        script(src="js/main.min.js")