mixin card (changeImage)
    div.t-newsCardWrapper.t-scrollBar
        div.t-newsCatNameAndDateHolder
            span.t-newsDate 14 января
            span.t-newsCategory Категория
        div.t-newsCard
            + stateCount('duplicate', 't-white', 't-whiteSvg')
            div.t-newsCardImg
                img(src=""+ changeImage +"")
            div.t-newsCardInfoHolder
                div.t-newsContent
                    div.t-newsContentBody
                        + stateCount('', 't-white', 't-whiteSvg', 't-special')
                        h1.t-newsTitle Заголовок статьи например, не в одну, а в три строки
                        div.t-newsAuthorHolder
                            div.t-newsAuthorImg
                                img(src="images/photos/quavo.jpg")
                            div.t-newsAuthorName
                                span.t-newsFirstName Quavo
                                span.t-newsLastName Marshall
                                span.t-newsProfession Бизнесмен
                        h2.t-newsCategory Экспертное мнение
                        ul.t-newsTags
                            li Дизайн,
                            li маркетинг,
                            li бизнес,
                            li CEO,
                            li программирование
                        span.t-newsDate 14 января
                        div.t-newsContentShare
                            span
                                svg.t-whiteSvg.t-hoverable(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                                    use(xlink:href='#path0_fill5', fill='#FFF').t-svgBg
                                    use(xlink:href='#path1_stroke5', transform='translate(8 8)', fill='#E0E0E0').t-svgFigure
                                    defs
                                        path#path0_fill5(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                                        path#path1_stroke5(d='M4 0l.707-.707a1 1 0 0 0-1.414 0L4 0zM3 5a1 1 0 0 0 2 0H3zM1 5a1 1 0 0 0-2 0h2zM0 8h-1a1 1 0 0 0 1 1V8zm8 0v1a1 1 0 0 0 1-1H8zm1-3a1 1 0 1 0-2 0h2zM1.293 1.293a1 1 0 0 0 1.414 1.414L1.293 1.293zm4 1.414a1 1 0 0 0 1.414-1.414L5.293 2.707zM3 0v5h2V0H3zm-4 5v3h2V5h-2zm1 4h8V7H0v2zm9-1V5H7v3h2zM2.707 2.707l2-2L3.293-.707l-2 2 1.414 1.414zm4-1.414l-2-2L3.293.707l2 2 1.414-1.414z')
                            span
                                svg.t-whiteSvg.t-hoverable(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                                    use(xlink:href='#path0_fillFav', fill='#FFF').t-svgBg
                                    use(xlink:href='#path1_strokeFav', transform='translate(9 8)', fill='#E0E0E0').t-svgFigure
                                    defs
                                        path#path0_fillFav(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                                        path#path1_strokeFav(d='M7 0a1 1 0 0 0-2 0h2zM6 8l-.555.832A1 1 0 0 0 7 8H6zM0 8h-1a1 1 0 0 0 1.555.832L0 8zm1-8a1 1 0 1 0-2 0h2zm2 6l.555-.832a1 1 0 0 0-1.11 0L3 6zm2-6v8h2V0H5zM1 8V0h-2v8h2zm5.555-.832l-3-2-1.11 1.664 3 2 1.11-1.664zm-4.11-2l-3 2 1.11 1.664 3-2-1.11-1.664z')


mixin authorCard(changeImg, name, profession, count, likes)
    div.t-authorCardWrapper.t-scrollBar
        a(href="#").t-authorCardLink
            div.t-authorImgHolder
                img(src=""+ changeImg +"")
            div.t-authorInfo
                h1.t-authorName= name
                span.t-authorProfession= profession
                div.t-authorArticlesCountWrapper
                    span.t-name Статей
                    span.t-authorArticlesCount= count
                ul.t-authorTags
                    li Дизайн,
                    li бизнес,
                div.t-authorLikesHolder
                    span
                        svg(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            use(xlink:href='#path0_fill4', fill='#FFF').t-svgBg
                            use(xlink:href='#path1_stroke4', transform='translate(6.85 7.93)', fill='#E0E0E0').t-svgFigure
                            defs
                                path#path0_fill4(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                                path#path1_stroke4(d='M10.147 4.066l.97.243-.97-.243zm-5 5l-.391.92a1 1 0 0 0 .783 0l-.392-.92zm-5-5l-.97.243.97-.243zm5-2l-.928.371a1 1 0 0 0 1.857 0l-.929-.37zm-3-2l-.242-.97.242.97zm6 0l.243-.97-.243.97zm1.03 3.757c-.317 1.269-1.34 2.343-2.425 3.144A11.781 11.781 0 0 1 4.9 8.079a6.101 6.101 0 0 1-.142.065l-.004.002.392.92.393.92.002-.001.004-.002.014-.006a5.036 5.036 0 0 0 .197-.09 13.78 13.78 0 0 0 2.182-1.31c1.214-.896 2.691-2.322 3.178-4.268l-1.94-.486zm-4.03 5.243l.393-.92-.004-.002a3.079 3.079 0 0 1-.142-.065 11.785 11.785 0 0 1-1.85-1.113c-1.085-.8-2.108-1.874-2.427-3.143l-1.94.486c.489 1.946 1.966 3.371 3.179 4.267a13.784 13.784 0 0 0 2.181 1.31 8.056 8.056 0 0 0 .211.097l.005.002h.002l.392-.919zm-4.03-5.243c-.206-.822-.12-1.461.1-1.898.212-.421.59-.743 1.173-.889l-.485-1.94C.794-.626-.079.052-.569 1.026c-.482.956-.55 2.106-.254 3.283l1.94-.486zM2.39 1.036c.485-.12.88.08 1.26.507a3.495 3.495 0 0 1 .567.89l.003.008V2.44a.115.115 0 0 1-.001-.002l.928-.372c.929-.37.929-.371.929-.372l-.001-.002-.002-.004a1.532 1.532 0 0 0-.018-.044 5.473 5.473 0 0 0-.219-.443 5.49 5.49 0 0 0-.69-.987C4.525-.483 3.42-1.283 1.904-.904l.485 1.94zm2.757 1.03c.929.372.929.372.928.373a.06.06 0 0 1 0 .001v.002h-.001a.705.705 0 0 1 .027-.061 3.502 3.502 0 0 1 .544-.838c.38-.428.776-.628 1.26-.507l.485-1.94C6.875-1.283 5.77-.483 5.15.214a5.498 5.498 0 0 0-.928 1.473l-.002.004v.002c0 .001-.001.001.927.373zm2.758-1.03c.583.146.96.468 1.172.889.22.437.306 1.076.1 1.898l1.94.486c.295-1.178.228-2.327-.253-3.284C10.374.052 9.5-.626 8.39-.904l-.485 1.94z')

                    span.t-authorLikesCount= likes

mixin topCard(pageName, listOne, listTwo, listThird, listFour, listFive, listSix)
    div.t-mainTopContentInside
        div.t-nameAndSortWrapper
            span.t-namePage= pageName
            div.t-openSmallModalMenu
                svg.t-hoverable(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    use(xlink:href='#path0_fillFil', fill='#FFF').t-svgBg
                    use(xlink:href='#path1_strokeFil', transform='translate(7 9)', fill='#E0E0E0').t-svgFigure
                    defs
                        path#path0_fillFil(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                        path#path1_strokeFil(d='M10 0l.707.707A1 1 0 0 0 10-1v1zM0 0v-1A1 1 0 0 0-.707.707L0 0zm4 8a1 1 0 1 0 2 0H4zm6-9H0v2h10v-2zM-.707.707l5 5 1.414-1.414-5-5L-.707.707zM4 5v3h2V5H4zm1.707.707l5-5L9.293-.707l-5 5 1.414 1.414z')
                div.t-smallModalMenu
                    div.t-smallModalMenuMobileTitleWrapper
                        h5.t-smallModalMenuMobileTitle Фильтр и сортировка
                        svg.t-backSmallMenuBtn(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            use(xlink:href='#path0_fill6', fill='#FFF').t-svgBg
                            use(xlink:href='#path1_stroke6', transform='translate(7 8)', fill='#E0E0E0').t-svgFigure
                            defs
                                path#path0_fill6(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                                path#path1_stroke6(d='M0 3l-.707-.707a1 1 0 0 0 0 1.414L0 3zM3.707.707A1 1 0 0 0 2.293-.707L3.707.707zm-1.414 6a1 1 0 0 0 1.414-1.414L2.293 6.707zM8 8a1 1 0 1 0 2 0H8zM0 4h6V2H0v2zm6-1v1h-.002-.001-.003-.002H6l.058.003c.068.005.138.012.246.03.242.04.474.092.749.236C7.513 4.5 8 4.931 8 6h2c0-1.931-1.014-3-2.053-3.52a5.194 5.194 0 0 0-1.314-.42A5.192 5.192 0 0 0 6.025 2H6.004h-.002-.001L6 3zm-5.293.707l3-3L2.293-.707l-3 3L.707 3.707zm-1.414 0l3 3 1.414-1.414-3-3-1.414 1.414zM8 6v2h2V6H8z')
                    h4.t-smallModalTitle Тема
                    ul.t-smallFilterMenu.t-smallModalList
                        li
                            a(href="#") Все темы
                        li
                            a(href="#") Бизнес
                        li
                            a(href="#") Дизайн
                        li
                            a(href="#") Продажа

                    h4.t-smallModalTitle Сортировка
                    ul.t-smallSortMenu.t-smallModalList
                        li
                            a(href="#") По дате
                        li
                            a(href="#") По популярности
        ul.t-topListCtrl.t-topRightSection
            li
                svg.t-hoverable(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    use(xlink:href='#path0_fill1', fill='#FFF').t-svgBg
                    use(xlink:href='#path1_fill1', transform='translate(8 6)', fill='#E0E0E0').t-svgFigure
                    defs
                        path#path0_fill1(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                        path#path1_fill1(fill-rule='evenodd', d='M0 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2a1 1 0 0 1-2 0V2H2v7a1 1 0 1 1-2 0V1zm7 5a1 1 0 0 1 1 1v1h1a1 1 0 1 1 0 2H8v1a1 1 0 1 1-2 0v-1H5a1 1 0 1 1 0-2h1V7a1 1 0 0 1 1-1z')


            li
                svg.t-hoverable(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    use(xlink:href='#path0_fill2', fill='#FFF').t-svgBg
                    use(xlink:href='#path1_fill2', transform='translate(7 6)', fill='#E0E0E0').t-svgFigure
                    defs
                        path#path0_fill2(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                        path#path1_fill2(fill-rule='evenodd', d='M7.005 4a2 2 0 1 1-3.999.001 2 2 0 0 1 4-.001zm.914 2.742A3.979 3.979 0 0 0 9.005 4c0-2.209-1.789-4-4-4-2.21 0-4 1.791-4 4 0 1.062.41 2.026 1.086 2.742a5.991 5.991 0 0 0-1.89 1.66 1 1 0 1 0 1.601 1.2A3.986 3.986 0 0 1 5.002 8c1.312 0 2.472.627 3.202 1.602.332.442.961.531 1.403.2a1 1 0 0 0 .199-1.4 6.082 6.082 0 0 0-1.887-1.66z')



            li.t-searchBtn
                svg.t-hoverable(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    use(xlink:href='#path0_fill3', fill='#FFF').t-svgBg
                    use(xlink:href='#path1_fill3', transform='translate(7 6)', fill='#E0E0E0').t-svgFigure
                    defs
                        path#path0_fill3(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                        path#path1_fill3(fill-rule='evenodd', d='M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm2 0a5 5 0 0 1-7.758 4.171l-1.535 1.536A1 1 0 1 1 .293 9.293l1.535-1.536A5 5 0 1 1 11 5z')





mixin authorsModal()
    div.t-fixed.t-authorModal
        div.t-authorModalInfoHolder
            div.t-authorModalInfo
                h1.t-authorModalName.t-titleUltraLarge Джон Тривольта
                h2.t-authorModalProfession.t-titleLarge Угонщик
                div.t-authorModalCountWrapper
                    span.t-name Статей
                    span.t-authorArticlesCount 2
                ul.t-authorModalTags
                    li Дизайн,
                    li бизнес,
                div.t-authorModalLikesHolder
                    span
                        svg(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            use(xlink:href='#path0_fill4', fill='#FFF').t-svgBg
                            use(xlink:href='#path1_stroke4', transform='translate(6.85 7.93)', fill='#E0E0E0').t-svgFigure
                            defs
                                path#path0_fill4(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                                path#path1_stroke4(d='M10.147 4.066l.97.243-.97-.243zm-5 5l-.391.92a1 1 0 0 0 .783 0l-.392-.92zm-5-5l-.97.243.97-.243zm5-2l-.928.371a1 1 0 0 0 1.857 0l-.929-.37zm-3-2l-.242-.97.242.97zm6 0l.243-.97-.243.97zm1.03 3.757c-.317 1.269-1.34 2.343-2.425 3.144A11.781 11.781 0 0 1 4.9 8.079a6.101 6.101 0 0 1-.142.065l-.004.002.392.92.393.92.002-.001.004-.002.014-.006a5.036 5.036 0 0 0 .197-.09 13.78 13.78 0 0 0 2.182-1.31c1.214-.896 2.691-2.322 3.178-4.268l-1.94-.486zm-4.03 5.243l.393-.92-.004-.002a3.079 3.079 0 0 1-.142-.065 11.785 11.785 0 0 1-1.85-1.113c-1.085-.8-2.108-1.874-2.427-3.143l-1.94.486c.489 1.946 1.966 3.371 3.179 4.267a13.784 13.784 0 0 0 2.181 1.31 8.056 8.056 0 0 0 .211.097l.005.002h.002l.392-.919zm-4.03-5.243c-.206-.822-.12-1.461.1-1.898.212-.421.59-.743 1.173-.889l-.485-1.94C.794-.626-.079.052-.569 1.026c-.482.956-.55 2.106-.254 3.283l1.94-.486zM2.39 1.036c.485-.12.88.08 1.26.507a3.495 3.495 0 0 1 .567.89l.003.008V2.44a.115.115 0 0 1-.001-.002l.928-.372c.929-.37.929-.371.929-.372l-.001-.002-.002-.004a1.532 1.532 0 0 0-.018-.044 5.473 5.473 0 0 0-.219-.443 5.49 5.49 0 0 0-.69-.987C4.525-.483 3.42-1.283 1.904-.904l.485 1.94zm2.757 1.03c.929.372.929.372.928.373a.06.06 0 0 1 0 .001v.002h-.001a.705.705 0 0 1 .027-.061 3.502 3.502 0 0 1 .544-.838c.38-.428.776-.628 1.26-.507l.485-1.94C6.875-1.283 5.77-.483 5.15.214a5.498 5.498 0 0 0-.928 1.473l-.002.004v.002c0 .001-.001.001.927.373zm2.758-1.03c.583.146.96.468 1.172.889.22.437.306 1.076.1 1.898l1.94.486c.295-1.178.228-2.327-.253-3.284C10.374.052 9.5-.626 8.39-.904l-.485 1.94z')
                    span.t-authorLikesCount 475
                div.t-authorModalAbout
                    h1.t-authorModalAboutTitle.t-titleBig О себе
                    p.t-authorModalDescription Минкомсвязи отказалось от требования рассчитывать объём хранилищ данных пользователей на основании максимальной ширины канала операторов связи. Это должно снизить затраты операторов, пишет «Коммерсантъ» со ссылкой на копию письма замглавы Минкомсвязи Дмитрия Алхазова в Российский союз промышленников и предпринимателей (РСПП).
                div.t-authorModalAnotherProfiles
                    ul
                        li
                            a(href="#") Facebook
                        li
                            a(href="#") Telegram
                div.t-authorModalArticlesHolderWrapper
                    h1.t-authorModalAboutTitle.t-titleBig Статьи автора
                    div.t-authorArticlesHolder
                        - for(var i = 0; i < 10; i++)
                            + authorArticles()
            div.t-authorModalPhoto
                img(src="images/photos/John.png")
                div.t-simpleBlock
                div.t-modalImgOverlay
                    div.t-modalButtonsHolder.t-hide.t-profileModalButtonsHolder
                        div.t-modalShare
                            svg.t-whiteSvg.t-hoverable(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                                use(xlink:href='#path0_fill5', fill='#FFF').t-svgBg
                                use(xlink:href='#path1_stroke5', transform='translate(8 8)', fill='#E0E0E0').t-svgFigure
                                defs
                                    path#path0_fill5(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                                    path#path1_stroke5(d='M4 0l.707-.707a1 1 0 0 0-1.414 0L4 0zM3 5a1 1 0 0 0 2 0H3zM1 5a1 1 0 0 0-2 0h2zM0 8h-1a1 1 0 0 0 1 1V8zm8 0v1a1 1 0 0 0 1-1H8zm1-3a1 1 0 1 0-2 0h2zM1.293 1.293a1 1 0 0 0 1.414 1.414L1.293 1.293zm4 1.414a1 1 0 0 0 1.414-1.414L5.293 2.707zM3 0v5h2V0H3zm-4 5v3h2V5h-2zm1 4h8V7H0v2zm9-1V5H7v3h2zM2.707 2.707l2-2L3.293-.707l-2 2 1.414 1.414zm4-1.414l-2-2L3.293.707l2 2 1.414-1.414z')
                        div.t-modalBack
                            svg.t-whiteSvg(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                                use(xlink:href='#path0_fill6', fill='#FFF').t-svgBg
                                use(xlink:href='#path1_stroke6', transform='translate(7 8)', fill='#E0E0E0').t-svgFigure
                                defs
                                    path#path0_fill6(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                                    path#path1_stroke6(d='M0 3l-.707-.707a1 1 0 0 0 0 1.414L0 3zM3.707.707A1 1 0 0 0 2.293-.707L3.707.707zm-1.414 6a1 1 0 0 0 1.414-1.414L2.293 6.707zM8 8a1 1 0 1 0 2 0H8zM0 4h6V2H0v2zm6-1v1h-.002-.001-.003-.002H6l.058.003c.068.005.138.012.246.03.242.04.474.092.749.236C7.513 4.5 8 4.931 8 6h2c0-1.931-1.014-3-2.053-3.52a5.194 5.194 0 0 0-1.314-.42A5.192 5.192 0 0 0 6.025 2H6.004h-.002-.001L6 3zm-5.293.707l3-3L2.293-.707l-3 3L.707 3.707zm-1.414 0l3 3 1.414-1.414-3-3-1.414 1.414zM8 6v2h2V6H8z')
                            span Назад

mixin authorArticles()
    div.t-authorModalArticleCard
        a(href="#").t-articleLink
            div.t-authorArticleCardImg
                img(src="/images/png/Frame.png")
            div.t-authorArticleCardInfo
                h3.t-authorArticleCardTitle Заголовок статьи не слишком вмещающийся во  фреймворке
                span.t-authorArticleCardCtegory Экспертное мнение
                span.t-authorArticleCardDate 14 апреля 2218


mixin newsModal()
    div.t-absolute.t-newsModal
        div.t-newsModalInfo
            div.t-newsColorBlock(style="background-color:#57C9FA")
            div.t-newsInsideHolder
                div.t-modalButtonsHolder.t-modalNewsBtnsHolder
                    div.t-modalBtnsCtrl
                        div.t-modalShare
                            svg.t-hoverable(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                                use(xlink:href='#path0_fill5', fill='#FFF').t-svgBg
                                use(xlink:href='#path1_stroke5', transform='translate(8 8)', fill='#E0E0E0').t-svgFigure
                                defs
                                    path#path0_fill5(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                                    path#path1_stroke5(d='M4 0l.707-.707a1 1 0 0 0-1.414 0L4 0zM3 5a1 1 0 0 0 2 0H3zM1 5a1 1 0 0 0-2 0h2zM0 8h-1a1 1 0 0 0 1 1V8zm8 0v1a1 1 0 0 0 1-1H8zm1-3a1 1 0 1 0-2 0h2zM1.293 1.293a1 1 0 0 0 1.414 1.414L1.293 1.293zm4 1.414a1 1 0 0 0 1.414-1.414L5.293 2.707zM3 0v5h2V0H3zm-4 5v3h2V5h-2zm1 4h8V7H0v2zm9-1V5H7v3h2zM2.707 2.707l2-2L3.293-.707l-2 2 1.414 1.414zm4-1.414l-2-2L3.293.707l2 2 1.414-1.414z')
                        div.t-modalFavorites
                            svg.t-hoverable(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                                use(xlink:href='#path0_fillFav', fill='#FFF').t-svgBg
                                use(xlink:href='#path1_strokeFav', transform='translate(9 8)', fill='#E0E0E0').t-svgFigure
                                defs
                                    path#path0_fillFav(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                                    path#path1_strokeFav(d='M7 0a1 1 0 0 0-2 0h2zM6 8l-.555.832A1 1 0 0 0 7 8H6zM0 8h-1a1 1 0 0 0 1.555.832L0 8zm1-8a1 1 0 1 0-2 0h2zm2 6l.555-.832a1 1 0 0 0-1.11 0L3 6zm2-6v8h2V0H5zM1 8V0h-2v8h2zm5.555-.832l-3-2-1.11 1.664 3 2 1.11-1.664zm-4.11-2l-3 2 1.11 1.664 3-2-1.11-1.664z')

                    div.t-modalBack
                        svg(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            use(xlink:href='#path0_fill6', fill='#FFF').t-svgBg
                            use(xlink:href='#path1_stroke6', transform='translate(7 8)', fill='#E0E0E0').t-svgFigure
                            defs
                                path#path0_fill6(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                                path#path1_stroke6(d='M0 3l-.707-.707a1 1 0 0 0 0 1.414L0 3zM3.707.707A1 1 0 0 0 2.293-.707L3.707.707zm-1.414 6a1 1 0 0 0 1.414-1.414L2.293 6.707zM8 8a1 1 0 1 0 2 0H8zM0 4h6V2H0v2zm6-1v1h-.002-.001-.003-.002H6l.058.003c.068.005.138.012.246.03.242.04.474.092.749.236C7.513 4.5 8 4.931 8 6h2c0-1.931-1.014-3-2.053-3.52a5.194 5.194 0 0 0-1.314-.42A5.192 5.192 0 0 0 6.025 2H6.004h-.002-.001L6 3zm-5.293.707l3-3L2.293-.707l-3 3L.707 3.707zm-1.414 0l3 3 1.414-1.414-3-3-1.414 1.414zM8 6v2h2V6H8z')
                        span Назад
                div.t-newsModalAuthorHolder
                    div.t-flexHolder
                        div.t-newsModalAuthorImg
                            img(src="images/photos/takeoff.jpg")
                        div.t-newsModalAuthorInfo
                            h1.t-authorName Takeoff
                            span.t-authorProfession Рэпер
                    div.t-newsModalCategory
                        span Экспертное мнение
                    ul.t-authorTags.t-authorTagsModal
                        li Дизайн,
                        li маркетинг,
                        li бизнес,
                        li CEO,
                        li Программирование,
                    span.t-newsModalDate 14 января
                    + stateCount('t-newsModalParams')
                h1.t-newsModalTitle.t-titleUltraMegaLarge.t-transform Заголовок статьи, например не в одну, а в три строки
                div.t-newsModalMainInfo
                    h2.t-newsModalMainInfoTitle.t-titleLarge Заголовок
                    h3.t-newsModalMainInfoMidTitle.t-titleBig Подзаголовок
                    p.t-articleText Минкомсвязи отказалось от требования рассчитывать объём хранилищ данных пользователей на основании максимальной ширины канала операторов связи.
                        | Это должно снизить затраты операторов, пишет «Коммерсантъ» со ссылкой на копию письма замглавы Минкомсвязи Дмитрия Алхазова в Российский союз промышленников и предпринимателей (РСПП).
                    br
                    a(href="#") Ссылка
                    br
                    br
                    span.t-signature Подпись
                    br
                    br
                    p Цитата
                    br
                    br
                div.t-newsModalImage.t-transform
                    img(src="images/png/img.png")
                    p.t-signature Подпись
                div.t-likeBlockWrapper
                    h2.t-likesTitle.t-titleBig Нравится ?
                    div.t-likesContainer
                        button(type="button").t-iLikeItBtn.t-btn Мне нравится
                        div.t-share Share
                div.t-commentBlock
                    h2.t-commentsTitle.t-titleBig Обсуждение
                    div.t-commentsFilter
                        span.t-filterName По популярности
                        div.t-dotsHolder
                            span
                    div.t-commentsContent
                        div.t-commentsItem
                            div.t-commentsiItemMain
                                div.t-commentsAuthorHolder
                                    div.t-commentsAuthor
                                        div.t-commentsAuthorImg
                                            img(src='/images/photos/quavo.jpg')
                                        div.t-commentsAuthorInfo
                                            h3.t-commentsAuthorName Quavious Marshall
                                            div.t-commentsAuthorDateAnditemHolder
                                                span.t-commentsAuthorDate 24.04.17,
                                                span.t-commentsAuthorTime 15:30
                                                div.t-commentsAuthorAnswerTo
                                                    span.t-commentsAuthorAnswerToName Константин
                                    div.t-commentsRating
                                div.t-commentsCommentHolder
                                    p.t-commentOutput Очень люблю материалы этого чувака. Потом мы узнаем, что ему руку ампутировали из-за гангрены, когда он решит сделать себе руки-базуки.
                                div.t-commentAnswer
                                    a(href='#').t-commentsAnswerBtn Ответить
                            div.t-commentsiItemChildren


mixin stateCount(thisCls, color, svgClass, special)
    div.t-newsParams(class=thisCls class=color class=special)
        ul
            li
                svg(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink' class=svgClass)
                    use(xlink:href='#path0_fill4', fill='#FFF').t-svgBg
                    use(xlink:href='#path1_stroke4', transform='translate(6.85 7.93)', fill='#E0E0E0').t-svgFigure
                    defs
                        path#path0_fill4(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                        path#path1_stroke4(d='M10.147 4.066l.97.243-.97-.243zm-5 5l-.391.92a1 1 0 0 0 .783 0l-.392-.92zm-5-5l-.97.243.97-.243zm5-2l-.928.371a1 1 0 0 0 1.857 0l-.929-.37zm-3-2l-.242-.97.242.97zm6 0l.243-.97-.243.97zm1.03 3.757c-.317 1.269-1.34 2.343-2.425 3.144A11.781 11.781 0 0 1 4.9 8.079a6.101 6.101 0 0 1-.142.065l-.004.002.392.92.393.92.002-.001.004-.002.014-.006a5.036 5.036 0 0 0 .197-.09 13.78 13.78 0 0 0 2.182-1.31c1.214-.896 2.691-2.322 3.178-4.268l-1.94-.486zm-4.03 5.243l.393-.92-.004-.002a3.079 3.079 0 0 1-.142-.065 11.785 11.785 0 0 1-1.85-1.113c-1.085-.8-2.108-1.874-2.427-3.143l-1.94.486c.489 1.946 1.966 3.371 3.179 4.267a13.784 13.784 0 0 0 2.181 1.31 8.056 8.056 0 0 0 .211.097l.005.002h.002l.392-.919zm-4.03-5.243c-.206-.822-.12-1.461.1-1.898.212-.421.59-.743 1.173-.889l-.485-1.94C.794-.626-.079.052-.569 1.026c-.482.956-.55 2.106-.254 3.283l1.94-.486zM2.39 1.036c.485-.12.88.08 1.26.507a3.495 3.495 0 0 1 .567.89l.003.008V2.44a.115.115 0 0 1-.001-.002l.928-.372c.929-.37.929-.371.929-.372l-.001-.002-.002-.004a1.532 1.532 0 0 0-.018-.044 5.473 5.473 0 0 0-.219-.443 5.49 5.49 0 0 0-.69-.987C4.525-.483 3.42-1.283 1.904-.904l.485 1.94zm2.757 1.03c.929.372.929.372.928.373a.06.06 0 0 1 0 .001v.002h-.001a.705.705 0 0 1 .027-.061 3.502 3.502 0 0 1 .544-.838c.38-.428.776-.628 1.26-.507l.485-1.94C6.875-1.283 5.77-.483 5.15.214a5.498 5.498 0 0 0-.928 1.473l-.002.004v.002c0 .001-.001.001.927.373zm2.758-1.03c.583.146.96.468 1.172.889.22.437.306 1.076.1 1.898l1.94.486c.295-1.178.228-2.327-.253-3.284C10.374.052 9.5-.626 8.39-.904l-.485 1.94z')
                span 475
            li
                svg(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink' class=svgClass)
                    use(xlink:href='#path0_fillView', fill='#FFF').t-svgBg
                    use(xlink:href='#path1_fillView', transform='translate(5.34 7)', fill='#E0E0E0').t-svgFigure
                    defs
                        path#path0_fillView(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                        path#path1_fillView(fill-rule='evenodd', d='M2.871 3.735a5.02 5.02 0 0 0-.93 1.598.998.998 0 1 1-1.883-.666 7.002 7.002 0 0 1 13.204 0 1.001 1.001 0 0 1-1.887.666 5.006 5.006 0 0 0-.914-1.58A3.999 3.999 0 0 1 6.66 9c-2.212 0-4-1.79-4-4 0-.44.077-.87.21-1.265zM8.661 5a2 2 0 1 1-4 .001 2 2 0 0 1 4-.001z')

                span 987
            li
                svg(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink' class=svgClass)
                    use(xlink:href='#path0_fillCom', fill='#FFF').t-svgBg
                    use(xlink:href='#path1_fillCom', transform='translate(6 7)', fill='#E0E0E0').t-svgFigure
                    defs
                        path#path0_fillCom(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                        path#path1_fillCom(fill-rule='evenodd', d='M0 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H8.414l-1.707 1.707a1 1 0 0 1-1.414 0L3.586 9H1a1 1 0 0 1-1-1V1zm2 1v5h2a1 1 0 0 1 .707.293L6 8.586l1.293-1.293A1 1 0 0 1 8 7h2V2H2z')

                span 340K
            li
                svg(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink' class=svgClass)
                    use(xlink:href='#path0_fill', fill='#FFF').t-svgBg
                    use(xlink:href='#path1_fill', transform='translate(6 6)', fill='#E0E0E0').t-svgFigure
                    defs
                        path#path0_fill(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                        path#path1_fill(fill-rule='evenodd', d='M2 6c0-2.21 1.79-4 4-4s4 1.79 4 4-1.79 4-4 4-4-1.79-4-4zm4-6a6 6 0 1 0 .002 12.002A6 6 0 0 0 6 0zm1 4a1.001 1.001 0 0 0-2 0v2a1 1 0 0 0 .293.707l1 1a1 1 0 1 0 1.414-1.414L7 5.586V4z')

                span 2M


mixin hiddenLogo()
    div.t-hiddenLogoWrapper
        div.t-burger.t-burgerMob
            span.line
            span.line
            span.line
        a(href="/").t-logoWrapper
            div.t-logo
        div.t-pageNameHolder
            span.t-pageHiddenName

mixin mobileMneu()
    div.t-mobileMenu
        div.t-mobileInsideHolder
            section.t-logoSection
                a(href="/").t-logoWrapper
                    div.t-logo
                svg.t-backSmallMenuBtn(width='24', height='24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    use(xlink:href='#path0_fill6', fill='#FFF').t-svgBg
                    use(xlink:href='#path1_stroke6', transform='translate(7 8)', fill='#E0E0E0').t-svgFigure
                    defs
                        path#path0_fill6(d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z')
                        path#path1_stroke6(d='M0 3l-.707-.707a1 1 0 0 0 0 1.414L0 3zM3.707.707A1 1 0 0 0 2.293-.707L3.707.707zm-1.414 6a1 1 0 0 0 1.414-1.414L2.293 6.707zM8 8a1 1 0 1 0 2 0H8zM0 4h6V2H0v2zm6-1v1h-.002-.001-.003-.002H6l.058.003c.068.005.138.012.246.03.242.04.474.092.749.236C7.513 4.5 8 4.931 8 6h2c0-1.931-1.014-3-2.053-3.52a5.194 5.194 0 0 0-1.314-.42A5.192 5.192 0 0 0 6.025 2H6.004h-.002-.001L6 3zm-5.293.707l3-3L2.293-.707l-3 3L.707 3.707zm-1.414 0l3 3 1.414-1.414-3-3-1.414 1.414zM8 6v2h2V6H8z')
            div.t-mobileMenuWrapper
                nav
                    ul.t-menuList
                        li.t-menuListItem
                            a(href="/") Всё сразу
                        li.t-menuListItem
                            a(href="#") Статьи
                        li.t-menuListItem
                            a(href="#") Подборки
                        li.t-menuListItem
                            a(href="#") Кейс недели
                        li.t-menuListItem
                            a(href="#") Переводы
                        li.t-menuListItem
                            a(href="#") Блоги компаний
                        li.t-menuListItem
                            a(href="#") Экспертное мнение
                        li.t-menuListItem
                            a(href="#") Туториалы
                        li.t-menuListItem
                            a(href="#") Бэкстейдж
                        li.t-menuListItem
                            a(href="#") Библиотека
                        li.t-menuListItem
                            a(href="#") События
                        li.t-menuListItem
                            a(href="/authors.html") Авторы
                        li.t-menuListItem
                            a(href="#") Информация
                div.t-copyWrapper
                    span &copy; ЖТ 2018
                    br
                    a(href="http://tdsgn.ru/") Создано в Студии Т


mixin search()
    section.t-searchSection.t-absolute
        div.t-sloseBtn
        div.t-searchField
            input(type="text" placeholder="Ищите статьи")
        ul.t-searchSorting
        div.t-searchOutput




doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title ЖТ
        link(rel='stylesheet', href="css/plugins/normalize.css")
        link(rel='stylesheet', href="css/main.min.css")
    body
        div.t-mainWrapper
            + hiddenLogo()
            block content
            + newsModal()
            + authorsModal()
            + mobileMneu()
            + search()

        script(src="js/vendor.min.js")
        script(src="js/plugins/TweenLite.min.js")
        script(src="js/plugins/svg4everybody.min.js")
        script(src="js/main.min.js")